


  .master-background{
    background-image: url('https://img.freepik.com/free-vector/space-with-stars-universe-space-infinity-background_78474-99.jpg?size=626&ext=jpg');
    min-height: 100vh ;

  }
  
  body,html{
    margin:0;
    width:100%;
  }

  .bg-navbar{
    background-color: darkslategrey;
  }

  .border{
    border-color: black !important;
    border-width: 1.5px !important;
  }